@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-dark: #1B1D31;
  --text: white;
  --button: #E53854;
  --text-input: black;
  --component: #24253C;
  --gray:rgb(232, 234, 236);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text);
  background-color: var(--background-dark);
  width: 100vw; 
  height: 100vh; 
 /*  position: fixed;  */
  top: 0;
  left: 0;
  overflow-x: hidden;
  
}

#page{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  
}

#dashboard-component{
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 1fr 4fr ;
  background-color: var(--component);
  border-right: 1px solid var(--text-input);
}

#dash-select:hover{
  color:var(--button)
}

#sign-out-btn>div:hover{
  background-color: var(--text);
}

#modal{
  display: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#home-body{
  min-width: 800px;
  overflow-x: auto;
}

#table-cont-form{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 3fr 1fr 2fr 1fr 2fr 2fr 2fr;
}
/* ------------media query --------------------- */

@media only screen and (max-width: 1200px) {
  
}


@media only screen and (max-width: 1200px) {
  #page {
    grid-template-columns: 1fr;
    grid-template-rows: 15fr 1fr;
  }
  #dashboard-component{
    order: 1;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding-left:0px ;
  }
  #dashboard-component>div{
    
    justify-content: center;
    align-items: center;
  }

  #dash-title{
    display: none;
  }
  #dash-select{
    display: none;
  }
  #main{
    order: -1;
  }
  #home-head{
    flex-direction: column;
  }
 
}
